datataset/cityscapes/
**/__pycache__/
*.py[cod]
*$py.class
.DS_Store
.env
.venv
venv/
ENV/
*.log
.idea/
.vscode/
checkpoints/
checkpoints
wandb
checkpoints
cookies.txt
gtFine_trainvaltest.zip leftImg8bit_trainvaltest.zip leftImg8bit_trainvaltest_foggy.zip
